{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="article_detail">
    <div class="article_header">
      <h3 class="center-align">{{ article.title }}</h3>
      <div class="right-align">
        <div><a href="#" class="author_link">{{ article.author.username }}</a></div>
        <div>{{ article.created_at|date:"Y. m. d h : i A" }}</div>
      </div>
    </div>
    <div class="article_content">
      {{ article.content|safe }}
    </div>
    <div class="center-align">
      <a href="{% url 'core:like_article' article.pk %}" class="btn waves-effect waves-light article_like_button {% if liked %}liked{% endif %}">추천 <span class="article_like_count">{{ article.count_like }}</span></a>

      <script>
        $('.article_like_button').click(function(e) {
          var self = $(this);
          var url = self.attr('href');

          $.post(url)
            .done(function(r) {
              if (r.liked) {
                self.addClass('liked');
              }
              else {
                self.removeClass('liked');
              }
              self.children('.article_like_count')
                .html(r.like_count);
            })
            .fail(function() {
              alert('오류가 발생했습니다.');
            });

          e.preventDefault();
          return false;
        });
      </script>
    </div>

    {% if request.user == article.author %}
    <div class="right-align">
      <a href="{% url 'core:update_article' article.category.pk article.pk %}" class="btn">수정</a>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
