{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="article_list">
    <h3>{{ category.name }}</h3>
    <div class="collection">
      {% for article in article_list %}
      <a href="#!" class="collection-item article_row">
        <div class="row">
          <div class="col s6">{{ article.title }}</div>
          <div class="col s2 center-align">{{ article.author.username }}</div>
          <div class="col s4 right-align">{{ article.created_at|date:"Y. m. d h : i A" }}</div>
        </div>
      </a>
      {% empty %}
      <h4 class="center-align">아직 게시글이 없습니다.</h4>
      {% endfor %}
    </div>
  </div>
  <div class="center-align">
    <ul class="pagination">

      <li class="{% if is_first_page %}disabled{% else %}effect{% endif %}"><a href="{% url 'core:list_article' category.pk %}?page={{ page|add:-1 }}"><i class="material-icons">chevron_left</i></a></li>

      {% for i in page_list %}
      <li class="{% if i == page %}active{% else %}waves-effect{% endif %}"><a href="{% url 'core:list_article' category.pk %}?page={{ i }}">{{ i }}</a></li>
      {% endfor %}

      <li class="{% if is_last_page %}disabled{% else %}effect{% endif %}"><a href="{% url 'core:list_article' category.pk %}?page={{ page|add:1 }}" class="{% if is_last_page %}disabled{% endif %}"><i class="material-icons">chevron_right</i></a></li>

    </ul>
  </div>
</div>
{% endblock %}
