body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 30px 0;
}

a.brand-logo {
    padding: 0 10px;
}

.article_row .row {
    margin: 0;
}

.article_content {
    margin: 50px 0;
    text-align: justify;
}
